.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*
.cost-table-wrapper .header, .income-table-wrapper .header {
    background: rgb(189, 214, 238);
    width: 200px;
}

section {
  background-color: rgb(195, 184, 184);
}

section div {
  width: 900px;
  margin:0 auto;
}*/

